* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;

}

.header {

    padding-top: 20px;
    background: #047eb3;
    position: relative;

    .line {
        width: 100%;
        border-bottom: 2px solid hsla(0, 0%, 100%, .24);
        position: absolute;
        top: 50%;
        left: 0;
        display: none;
    }

    .container {

        .header-content-top {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;

            .header-logo {
                .ham-menu {
                    display: none;
                    border: none;
                    background: 0 0;
                }

                .search {
                    display: none;
                    border: none;
                    background: 0 0;

                    @media screen and (max-width:1100px) {
                        .active {
                            display: block;
                        }

                    }
                }


                @media screen and (max-width:1100px) {
                    .ham-menu {
                        display: block;

                    }

                    .search {
                        display: block;
                    }
                }



            }

            .nav-list {
                padding: 0;
                display: flex;
                list-style: none;



                .nav-item {
                    display: flex;


                    .nav-logo {
                        margin-top: 5px;
                        margin-right: 10px;

                    }


                    .nav-link {
                        font-size: 24px;
                        align-items: center;
                        margin-right: 50px;
                        flex: 0 0 auto;
                        color: white;
                        padding: 0;
                    }

                    @media screen and (max-width:768px) {
                        .nav-link {
                            font-size: 16px;
                        }

                        .nav-logo {
                            img {
                                width: 20px;
                                margin-bottom: 15px;
                            }
                        }

                    }

                    @media screen and (max-width:400px) {
                        .nav-link {

                            font-size: 14px;
                        }

                        .nav-logo {
                            img {
                                width: 13px;
                                margin-bottom: 15px;
                            }
                        }

                    }



                }

                .nav-item:last-child {
                    .nav-link {
                        margin-right: 0;
                    }

                }

            }


            .header-input {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .header-search {
                    position: relative;

                    input {
                        background: #fff;
                        border-radius: 12px;
                        font-weight: 400;
                        font-size: 16px;
                        border: none;
                        padding: 10px 10px 10px 55px;
                        width: 220px;

                    }



                    .btn-search {
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        border: none;
                        background: 0 0;

                    }

                }

                .login {


                    font-size: 16px;
                    margin-left: 35px;
                    color: #fff;
                    text-decoration: none;
                }


            }

            @media screen and (max-width:1100px) {
                .header-input {
                    display: none;
                }

                .nav-list {

                    width: 100%;
                    padding-left: 0;
                    justify-content: space-between;
                }


                .header-logo {

                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding-bottom: 30px;

                }

            }

        }

        @media screen and (max-width:1100px) {
            .header-content-top {
                flex-wrap: wrap;

            }



        }

    }


    .header-content-menu {
        border-top: 1px solid hsla(0, 0%, 100%, .24);


        .container {
            padding-top: 15px;

            .menu-list {

                display: flex;
                list-style: none;
                flex-wrap: wrap;
                align-items: center;
                padding: 0;


                .menu-item {
                    margin-right: 55px;

                    .menu-link {
                        color: #fff;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 24px;
                        display: block;
                        padding: 0 0 16px;
                    }
                }

                .sub-menu {
                    position: relative;

                    .drop-down {
                        position: absolute;
                        top: 30px;
                        left: -25px;
                        background: #fff;
                        display: none;
                        border-radius: 4px;
                        padding: 10px;
                        z-index: 2;
                        min-width: 200px;

                        .sub-menu-link {
                            font-size: 16px;
                            line-height: 24px;
                            color: #00415c;
                            padding: 10px;
                            display: block;
                            text-decoration: none;
                        }

                    }
                }


            }
        }


    }

    @media screen and (max-width:1100px) {
        .header-content-menu {
            display: none;

        }

        .line {
            display: block;
        }
    }




}



.main{

    .container{

        .filter {
            display: flex;
            align-items: center;
            background: #047eb3;
            border-radius: 8px;
            padding: 18px 24px;
            margin-bottom: 30px;
            margin-top: 26px;
            .title {
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin: 0;
            }
        }

        .main-boxs {
            .cards {
                display: flex; 
                cursor: pointer;
                flex-wrap: wrap;

                
                .main-box {
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: calc(33.33333% - 40px);
                    margin: 0 16px 32px;
                    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
                     
                   img{
                       border-radius: 8px;
                       width: 100%;
                       object-fit: cover;
                   }

            

                    .main-box-body {
                        padding: 16px 24px;
                        .main-box-title{
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 30px;
                            color: #00415c;
                            margin-bottom: 4px;
                        }
                        p{
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #00415c;
                        }
                    }

                }
               
                @media screen and (max-width:992px) {
                    .main-box{
                        
                        flex: 0 1 100%;
                        
                    }
                    
                }

            }
          
        }



    }


}






