* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.header {
  padding-top: 20px;
  background: #047eb3;
  position: relative;
}

.header .line {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
}

.header .container .header-content-top {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.header .container .header-content-top .header-logo .ham-menu {
  display: none;
  border: none;
  background: 0 0;
}

.header .container .header-content-top .header-logo .search {
  display: none;
  border: none;
  background: 0 0;
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-logo .search .active {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-logo .ham-menu {
    display: block;
  }
  .header .container .header-content-top .header-logo .search {
    display: block;
  }
}

.header .container .header-content-top .nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .container .header-content-top .nav-list .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .header-content-top .nav-list .nav-item .nav-logo {
  margin-top: 5px;
  margin-right: 10px;
}

.header .container .header-content-top .nav-list .nav-item .nav-link {
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: white;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header .container .header-content-top .nav-list .nav-item .nav-link {
    font-size: 16px;
  }
  .header .container .header-content-top .nav-list .nav-item .nav-logo img {
    width: 20px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .header .container .header-content-top .nav-list .nav-item .nav-link {
    font-size: 14px;
  }
  .header .container .header-content-top .nav-list .nav-item .nav-logo img {
    width: 13px;
    margin-bottom: 15px;
  }
}

.header .container .header-content-top .nav-list .nav-item:last-child .nav-link {
  margin-right: 0;
}

.header .container .header-content-top .header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header-content-top .header-input .header-search {
  position: relative;
}

.header .container .header-content-top .header-input .header-search input {
  background: #fff;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 10px 10px 10px 55px;
  width: 220px;
}

.header .container .header-content-top .header-input .header-search .btn-search {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: 0 0;
}

.header .container .header-content-top .header-input .login {
  font-size: 16px;
  margin-left: 35px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-input {
    display: none;
  }
  .header .container .header-content-top .nav-list {
    width: 100%;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .container .header-content-top .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header .header-content-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.header .header-content-menu .container {
  padding-top: 15px;
}

.header .header-content-menu .container .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header .header-content-menu .container .menu-list .menu-item {
  margin-right: 55px;
}

.header .header-content-menu .container .menu-list .menu-item .menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding: 0 0 16px;
}

.header .header-content-menu .container .menu-list .sub-menu {
  position: relative;
}

.header .header-content-menu .container .menu-list .sub-menu .drop-down {
  position: absolute;
  top: 30px;
  left: -25px;
  background: #fff;
  display: none;
  border-radius: 4px;
  padding: 10px;
  z-index: 2;
  min-width: 200px;
}

.header .header-content-menu .container .menu-list .sub-menu .drop-down .sub-menu-link {
  font-size: 16px;
  line-height: 24px;
  color: #00415c;
  padding: 10px;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .header .header-content-menu {
    display: none;
  }
  .header .line {
    display: block;
  }
}

.main .container .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #047eb3;
  border-radius: 8px;
  padding: 18px 24px;
  margin-bottom: 30px;
  margin-top: 26px;
}

.main .container .filter .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;
}

.main .container .main-boxs .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .container .main-boxs .cards .main-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: calc(33.33333% - 40px);
  margin: 0 16px 32px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.main .container .main-boxs .cards .main-box img {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .container .main-boxs .cards .main-box .main-box-body {
  padding: 16px 24px;
}

.main .container .main-boxs .cards .main-box .main-box-body .main-box-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #00415c;
  margin-bottom: 4px;
}

.main .container .main-boxs .cards .main-box .main-box-body p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00415c;
}

@media screen and (max-width: 992px) {
  .main .container .main-boxs .cards .main-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.footer {
  padding-bottom: 40px;
  background: #047eb3;
}

.footer .container .f-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container .f-form form {
  position: relative;
  margin-left: 60px;
}

.footer .container .f-form form button {
  background: #fff;
  border-radius: 8px 8px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 1px;
  right: 0;
  border: none;
}

.footer .container .f-form form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  font-family: Nunito;
  color: #fff;
  font-size: 18px;
  background: 0 0;
  width: 100%;
  padding-right: 50px;
  outline: none;
}

.footer .container .f-form form .form-label {
  font-family: Nunito;
  font-size: 22px;
  width: 200px;
  color: #fff;
  display: none;
}

@media screen and (max-width: 768px) {
  .footer .container .f-form form {
    margin-left: 0;
  }
}

.footer .container .f-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 50px;
}

.footer .container .f-media .f-media-links {
  color: #fff;
  margin-right: 45px;
}

@media screen and (max-width: 768px) {
  .footer .container .f-media {
    padding-top: 20px;
    margin-right: 0;
  }
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .wrapper .footer-wrap-logo p {
  width: 240px;
  font-family: DM Sans;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.204545px;
  color: #fff;
}

.footer .wrapper .footer-wrap-logo h5 {
  font-family: Nunito;
  font-size: 22px;
  width: 200px;
  color: #fff;
  margin-top: 48px;
}

@media screen and (max-width: 992px) {
  .footer .wrapper .footer-wrap-logo h5 {
    display: none;
  }
}

.footer .wrapper .footer-wrap-logo .footer-logo {
  width: 95px;
  padding-bottom: 30px;
  padding-top: 40px;
}

.footer .wrapper .footer-wrap-logo .footer-logo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .wrapper .footer-wrap-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-left: 20px;
  overflow: hidden;
}

.footer .wrapper .footer-wrap-menu .f-menu {
  margin-right: 90px;
  padding: 0px 20px;
}

.footer .wrapper .footer-wrap-menu .f-menu .title {
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: -.231818px;
  color: #fff;
  font-family: Nunito;
  margin-bottom: 20px;
}

.footer .wrapper .footer-wrap-menu .f-menu .f-link {
  font-family: Nunito;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -.204545px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .footer .wrapper .footer-wrap-menu {
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */