* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins;
}

.header {
  padding-top: 20px;
  background: #047eb3;
  position: relative;
}

.header .line {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.24);
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
}

.header .container .header-content-top {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.header .container .header-content-top .header-logo .ham-menu {
  display: none;
  border: none;
  background: 0 0;
}

.header .container .header-content-top .header-logo .search {
  display: none;
  border: none;
  background: 0 0;
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-logo .search .active {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-logo .ham-menu {
    display: block;
  }
  .header .container .header-content-top .header-logo .search {
    display: block;
  }
}

.header .container .header-content-top .nav-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .container .header-content-top .nav-list .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .header-content-top .nav-list .nav-item .nav-logo {
  margin-top: 5px;
  margin-right: 10px;
}

.header .container .header-content-top .nav-list .nav-item .nav-link {
  font-size: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: white;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .header .container .header-content-top .nav-list .nav-item .nav-link {
    font-size: 16px;
  }
  .header .container .header-content-top .nav-list .nav-item .nav-logo img {
    width: 20px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .header .container .header-content-top .nav-list .nav-item .nav-link {
    font-size: 14px;
  }
  .header .container .header-content-top .nav-list .nav-item .nav-logo img {
    width: 13px;
    margin-bottom: 15px;
  }
}

.header .container .header-content-top .nav-list .nav-item:last-child .nav-link {
  margin-right: 0;
}

.header .container .header-content-top .header-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header-content-top .header-input .header-search {
  position: relative;
}

.header .container .header-content-top .header-input .header-search input {
  background: #fff;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  padding: 10px 10px 10px 55px;
  width: 220px;
}

.header .container .header-content-top .header-input .header-search .btn-search {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: 0 0;
}

.header .container .header-content-top .header-input .login {
  font-size: 16px;
  margin-left: 35px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top .header-input {
    display: none;
  }
  .header .container .header-content-top .nav-list {
    width: 100%;
    padding-left: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .container .header-content-top .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .header .container .header-content-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header .header-content-menu {
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.header .header-content-menu .container {
  padding-top: 15px;
}

.header .header-content-menu .container .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.header .header-content-menu .container .menu-list .menu-item {
  margin-right: 55px;
}

.header .header-content-menu .container .menu-list .menu-item .menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: block;
  padding: 0 0 16px;
}

.header .header-content-menu .container .menu-list .sub-menu {
  position: relative;
}

.header .header-content-menu .container .menu-list .sub-menu .drop-down {
  position: absolute;
  top: 30px;
  left: -25px;
  background: #fff;
  display: none;
  border-radius: 4px;
  padding: 10px;
  z-index: 2;
  min-width: 200px;
}

.header .header-content-menu .container .menu-list .sub-menu .drop-down .sub-menu-link {
  font-size: 16px;
  line-height: 24px;
  color: #00415c;
  padding: 10px;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .header .header-content-menu {
    display: none;
  }
  .header .line {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */